---
import Quiz from "../components/Quiz.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <span>Welcome</span>
    <button><a href="/admin/">Admin Page</a></button>
    <button class="mt-70"><a href="/game/">Game Start!</a></button>
</Layout>
